/*

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bokor&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Revolution&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">

.rowdies-light {
  font-family: "Rowdies", serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", serif;
  font-weight: 700;
  font-style: normal;
}


*/
:root {
  --color-primary: #2b2e4a;
  --color-secondary: #e84545;
  --color-tertiary: #903749;
  --color-quaternary: #53354a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */

header {
  font-family: "Protest Revolution", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 24px !important;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #2b2e4a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

footer {
  width: 100%;
  min-height: 15vh;
  background-color: var(--color-secondary);
  border-top: 2px solid black;
}

button {
  border: none;
  background-color: transparent !important;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -120%;
  width: 450px;
  height: 100%;
  background-color: #2b2e4a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-secondary);
  transition: right 0.5s ease;
  padding: 15px;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.show {
  right: 0;
}

.sidebar h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Nunito", serif !important;
  font-weight: 600;
  font-style: normal;
  color: var(--color-secondary);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.overlay.active {
  display: block;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.final-price-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.price {
  margin-bottom: 0 !important;
  color: var(--color-secondary);
  font-family: "Nunito", serif !important;
  font-weight: 600;
}

.pay-btn {
  color: var(--color-secondary);
  font-family: "Nunito", serif !important;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  transition: color 0.5s ease;
}

.pay-btn:hover {
  color: white;
}

/* INDEX */

.navbar {
  margin: 0 !important;
}

.nav-link:focus,
.nav-link:hover {
  color: white !important;
}

main .container {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
  color: black;
}

.container .navbar-brand {
  font-size: 35px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px !important;
}

.dropdown-menu {
  transition: all 1s ease-in-out;
}

.dropdown-item {
  transition: all 0.5s ease-in-out;
}

.dropdown-item:hover {
  background-color: #2b2e4a !important;
  color: white !important;
}

.main-container {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.main-container:hover {
  box-shadow: 0 0 30px 15px rgba(232, 69, 69, 0.6);
  height: 400px;
  animation: glowPulse 2s infinite;
}

.custom-card {
  color: #e84545b7;
  border: 2px solid var(--color-secondary);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 20px;
  height: 450px;
  -webkit-user-select: none;
}

.custom-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.custom-card:hover {
  transform: scale(1.1);
  color: #e84545;
}

.custom-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 415px;
}

.custom-card p {
  margin: 10px;
}

.custom-card h5 {
  color: grey;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0 !important;
}

.carousel-textarea {
  margin-bottom: 0 !important;
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 18px;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.text-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  background-color: var(--color-secondary);
  border-radius: 16px;
}

.text-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.text-img-container .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: auto;
  bottom: 0;
  z-index: 1;
  color: white;
  padding: 5px 50px 5px 50px;
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.separate-container {
  width: 100%;
  text-align: center;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
  font-family: "Protest Revolution", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 24px !important;
}

.separate-container-2 {
  width: 100%;
  text-align: center;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
  font-family: "Protest Revolution", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 24px !important;
}

.button-section {
  z-index: 2;
}

.button-section .game-button {
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 20px;
  color: white;
  padding: 0.45rem;
  border-radius: 10px;
}

.game-button a {
  text-decoration: none;
  color: var(--color-secondary);
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
  transition: color 0.5s ease-in-out;
}

.game-button a:hover {
  text-decoration: none;
  color: white;
}

.carousel-inner {
  user-select: none !important;
  -webkit-user-select: none !important;
}

.separate-container-2 h2 {
  padding: 0.5rem;
  color: var(--color-secondary);
  text-shadow: -1px -1px 0 var(--color-primary),
    /* Sombra superior izquierda */ 1px -1px 0 var(--color-primary),
    /* Sombra superior derecha */ -1px 1px 0 var(--color-primary),
    /* Sombra inferior izquierda */ 1px 1px 0 var(--color-primary); /* Sombra inferior derecha */
  font-size: 3rem;
  margin-bottom: 2rem;
  user-select: none;
  -webkit-user-select: none;
}

.separate-container h1 {
  padding: 0.5rem;
  color: var(--color-secondary);
  text-shadow: -1px -1px 0 var(--color-primary),
    /* Sombra superior izquierda */ 1px -1px 0 var(--color-primary),
    /* Sombra superior derecha */ -1px 1px 0 var(--color-primary),
    /* Sombra inferior izquierda */ 1px 1px 0 var(--color-primary); /* Sombra inferior derecha */
  user-select: none;
  -webkit-user-select: none;
  font-size: 3rem;
}

.important-text {
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.fade-in-slide {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeSlideIn 1s ease-out forwards;
}

.company-icon {
  display: flex;
  gap: 3em;
  justify-content: center;
  margin-top: 2em;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 20px 10px rgba(232, 69, 69, 0.4);
  }
  50% {
    box-shadow: 0 0 40px 20px rgba(232, 69, 69, 0.8);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(232, 69, 69, 0.4);
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Añade un retraso progresivo para los elementos */
.fade-in-slide:nth-child(1) {
  animation-delay: 0.2s;
}
.fade-in-slide:nth-child(2) {
  animation-delay: 0.4s;
}
.fade-in-slide:nth-child(3) {
  animation-delay: 0.6s;
}
.fade-in-slide:nth-child(4) {
  animation-delay: 0.8s;
}
.fade-in-slide:nth-child(5) {
  animation-delay: 1s;
}
.fade-in-slide:nth-child(6) {
  animation-delay: 1.2s;
}
.fade-in-slide:nth-child(7) {
  animation-delay: 1.4s;
}
.fade-in-slide:nth-child(8) {
  animation-delay: 1.6s;
}
.fade-in-slide:nth-child(9) {
  animation-delay: 1.8s;
}

/* GAMES */

.main {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #2b2e4a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.main h1 {
  font-weight: 400 !important;
  color: var(--color-secondary);
  font-family: "Protest Revolution", sans-serif !important;
  font-style: normal;
  padding: 2rem;
}

.game {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

.game img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}

.game-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  overflow: hidden;
  position: relative;
  height: 100% !important;
}

.game-card .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 1s ease;
}

.game-card:hover {
  transform: perspective(1000px) rotateX(7deg) rotateY(-7deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.game-card:hover .card-img {
  transform: scale(1.05);
}

.game-card .card-img {
  object-fit: cover;
  height: 100%;
  filter: brightness(70%);
}

.card-img-overlay {
  flex-direction: column;
  overflow: hidden;
  transition: background 0.4s ease-in-out;
}

.card-title {
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  font-size: 1.25rem;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Nunito", serif !important;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.add-item-btn {
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-family: "Nunito", serif !important;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  border: 1px solid var(--color-secondary);
  margin-top: 1.5rem;
  transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 25px;
}

.page-btn {
  font-weight: 400 !important;
  color: var(--color-secondary);
  font-family: "Protest Revolution", sans-serif !important;
  font-style: normal;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.page-btn:hover {
  color: white;
}

.pagination {
  font-weight: 400 !important;
  color: var(--color-primary);
  font-family: "Protest Revolution", sans-serif !important;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0 10px 0 10px !important;
  background-color: white;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
}

.card-img-overlay:hover .card-title,
.card-img-overlay:hover .add-item-btn {
  transform: translateY(0);
  opacity: 1;
}

.card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.add-item-btn:hover {
  color: var(--color-secondary);
}

/* GAME DETAILS */

.container .game-details-side {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-secondary);
  gap: 3rem;
}

.game-name {
  color: var(--color-secondary);
  display: block;
}

.game-name-2 {
  display: none;
}

.developers-names {
  display: flex;
  gap: 10px;
  color: white;
}

.card-body {
  display: flex;
  flex: none !important;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: "Nunito", serif !important;
  font-style: normal;
}

.card-body p {
  color: white !important;
}

.metacritic-media {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid white;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.356);
  user-select: none;
  -webkit-user-select: none;
}

.green {
  color: green;
}
.yellow {
  color: orange;
}
.red {
  color: red;
}

.card-img-top {
  width: 500px !important;
  height: 400px !important;
  object-fit: cover;
  border-radius: 25%;
  transition: transform 0.3s ease-in-out;
  border-top-right-radius: 25% !important;
}

.card-img-top:hover {
  transform: scale(1.02);
}

.description {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 18px;
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.description h2 {
  color: var(--color-secondary);
  margin-bottom: 20px;
  font-family: "Nunito", serif !important;
  font-style: normal;
}

.description-text {
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5rem;
  max-height: 600px !important;
  transition: all 0.3s ease-in-out;
  color: white;
  font-weight: 600;
}

.toggle-btn {
  color: white !important;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
  transition: color 0.5s ease;
}

.toggle-btn:hover {
  color: var(--color-secondary) !important;
}

.input-group {
  position: relative;
  display: flex;
  width: 25% !important;
  align-items: center;
  margin: auto !important;
  margin-bottom: 1rem !important;
}

.input-group .form-control {
  border-color: var(--color-secondary);
}

.input-group .btn {
  border-color: var(--color-secondary);
  color: var(--color-secondary) !important;
}

.input-group .form-control:focus {
  border-color: var(--color-secondary);
  box-shadow: 0 0 5px rgba(232, 69, 69, 0.7);
}

.input-group .btn:hover {
  color: #ffffff !important;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
}

.game-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-btn-2 {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-family: "Nunito", serif !important;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  border: 1px solid var(--color-secondary);
  margin-top: 1.5rem;
  transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.game-img-container:hover .add-item-btn-2 {
  animation: scaleUp 1.5s ease-out infinite;
}

.cart-items {
  height: 83%;
}

.items-quantity {
  color: white;
}

.sidebar-close {
  padding: 10px 20px;
  color: var(--color-secondary);
  border-radius: 5px;
  font-family: "Nunito", serif !important;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  border: 1px solid var(--color-secondary);
  transition: color 0.5s ease;
}

.sidebar-close:hover {
  color: white;
}

.cart-container-view {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.cart-container-view span {
  position: absolute;
  margin-top: 10px;
  color: var(--color-secondary);
  font-family: "Nunito", serif !important;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
  transition: all 0.6s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

.cart-img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.cart-container-view:hover .cart-img {
  height: 170px;
}

.cart-container-view:hover span {
  margin-top: 75px;
  color: white;
}

.options-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.options-cart p {
  margin-bottom: 0 !important;
  color: white;
}

.section-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
}

.rating-bar {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 16px;
  background-color: white !important;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: var(--color-tertiary) !important;
  border-radius: 0 !important;
  transition: width 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.progress:hover,
.rating-bar:hover .progress {
  background-color: var(--color-secondary) !important;
}

.reviews-user {
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 30px;
  font-family: "Nunito", serif !important;
  font-style: normal;
}

.game-video {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.video-null {
  font-family: "Nunito", serif !important;
  font-style: normal;
  font-size: 20px;
  color: var(--color-secondary);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1400px) {
  .navbar-nav {
    gap: 2rem !important;
  }
}

@media (max-width: 1200px) {
  .carousel-textarea {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    align-items: center;
    gap: 1rem !important;
  }

  .carousel-textarea {
    font-size: 12px;
  }

  .input-group {
    width: 50% !important;
  }

  .game-details-side {
    flex-direction: column;
  }

  .game-img-container img {
    width: 450px !important;
    height: 350px !important;
  }

  .game-video {
    max-width: 700px;
  }

  .game-name {
    display: none;
  }

  .game-name-2 {
    text-align: center;
    display: block;
    font-family: "Nunito", serif !important;
    font-style: normal;
    font-weight: 500;
    color: var(--color-secondary);
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .separate-container h1 {
    font-size: 2.5rem;
  }

  .separate-container-2 h2 {
    font-size: 2.5rem;
  }

  .company-icon {
    gap: 2em;
    margin-top: 1em;
  }

  .company-icon img {
    width: 75px;
    height: 75px;
  }

  .text-img-container {
    background-color: transparent;
    height: 290px;
  }

  .text-img-container img {
    object-fit: cover;
  }

  .main-container:hover {
    height: 290px;
  }

  .main-container {
    height: 290px;
  }

  .carousel-indicators {
    display: none !important;
  }

  .carousel-textarea {
    font-size: 10px;
  }

  .input-group {
    width: 60% !important;
  }

  .game-card {
    min-width: 200px !important;
  }

  .card-title {
    transform: translateY(0);
    opacity: 1;
  }

  .add-item-btn {
    transform: translateY(0);
    opacity: 1;
  }

  .card-img-overlay:hover .card-title,
  .card-img-overlay:hover .add-item-btn {
    transform: none;
  }

  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .game-video {
    max-width: 550px;
  }
}

@media (max-width: 668px) {
  .game-video {
    max-width: 400px;
  }

  .section-reviews {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 490px) {
  .separate-container-2 h2 {
    font-size: 2rem;
  }

  .company-icon {
    gap: 1.5em;
    margin-top: 0.5em;
  }

  .company-icon img {
    width: 50px;
    height: 50px;
  }

  .text-img-container img {
    object-fit: contain;
  }

  .main-container {
    box-shadow: none;
  }

  .main-container:hover {
    box-shadow: none;
    animation: none;
  }

  .game-img-container img {
    width: 325px !important;
    height: 250px !important;
  }

  .sidebar {
    width: 100%;
  }
}
